<?xml version="1.0"?>
<configuration>
  <system.net>
    <defaultProxy>
      <proxy
          autoDetect="false"
          bypassonlocal="false"
          proxyaddress="http://127.0.0.1:8889"
          usesystemdefault="false" />
    </defaultProxy>
  </system.net>
  <appSettings>
    <add key="EOL-Folders" 
         value="\\rcsDevCra001.corp.realpage.com\elmah-exceptions\PROD\availability2\2015-10-14;\\rcsDevCra001.corp.realpage.com\elmah-exceptions\PROD\availability2\2015-10-13;\\rcsDevCra001.corp.realpage.com\elmah-exceptions\PROD\availability2\2015-10-12"/>
    <!--<add key="EOL-Folders"
         value="\\rcsDevCra001.corp.realpage.com\elmah-exceptions\PROD\availability2\2015-10-14\23\57"/>-->
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
